:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
}

#canvas {
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 6px,
      rgba(255, 255, 255, 0.05) 6px,
      rgba(255, 255, 255, 0.05) 13px,
      transparent 13px,
      transparent 16px,
      rgba(255, 255, 255, 0.05) 16px,
      rgba(255, 255, 255, 0.05) 29px,
      transparent 29px,
      transparent 40px,
      rgba(255, 255, 255, 0.05) 40px,
      rgba(255, 255, 255, 0.05) 50px
  ),
      repeating-radial-gradient(
          circle at center center,
          rgb(21, 21, 21) 0px,
          rgb(21, 21, 21) 13px,
          rgb(21, 21, 21) 13px,
          rgb(21, 21, 21) 14px,
          rgb(21, 21, 21) 14px,
          rgb(21, 21, 21) 15px,
          rgb(21, 21, 21) 15px,
          rgb(21, 21, 21) 25px,
          rgb(21, 21, 21) 25px,
          rgb(21, 21, 21) 37px,
          rgb(21, 21, 21) 37px,
          rgb(21, 21, 21) 42px
      );
  background-size: 53px 53px;
}

